<div class="col-md-6 col-md-offset-3">
    
    <button (click)="openModal('custom-modal-1')">Stel een pakket samen</button>
</div>

<modal id="custom-modal-1">
    <div class="modal">
        <div class="modal-body">
            <h1>Selecteer items!</h1>

            <div class="form-group left">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th class="selectHardware">Selecteren</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of hardwareList" attr.hardwareID="{{item.hardwareID}}">
                            <td scope="row">{{item.name}}</td>
                            <td class="selectHardware">
                                <button (click)="selectHardware(item.hardwareID)" class="btn btn-secondairy">Selecteer</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <label for="PackageName">Package name</label>
            <input type="text" class="form-control" id="PackageName" name="PackageName" placeholder="Name" [(ngModel)]="packageModel"
                #packageName="ngModel" required>
            <label for="PackageID">Package ID</label>
            <input type="text" class="form-control" id="PackageID" name="PackageID" placeholder="ID" [(ngModel)]="packageIDModel" #packageID="ngModel"
                required>
            <button (click)="makePackage()"> Pakket toevoegen </button>
            <button (click)="closeModal('custom-modal-1');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>