input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[class="goed"] {
    width: 25%;
    background-color: #5D97EE;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float:right;
}

button[class="goed"]:hover {
    background-color: #2D00AA;
}
button[class="fout"] {
    width: 25%;
    background-color: rgb(119, 119, 119);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: not-allowed;
    float:right;
}


.divv {
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 100%;
    padding: 12px 20px;
    margin: 50px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
div[class=error]{
    color:red;
}