<div class="toevoegen">
  <H2>Voeg hier uw nieuwe hardware toe!</H2>
  <div class="error">
  <div [hidden]="!AankoopprijsError">De aankoopprijs per stuk moet een positief getal zijn!</div>
  <div [hidden]="!AantalError1">Het aantal moet een hoger getal dan 0 zijn.</div>
  <div [hidden]="!AantalError2">Het aantal moet een afgerond getal zijn</div>
</div>
  <input type="text" id="merknaam" placeholder="Merknaam" [(ngModel)]="merknaam" #Merknaam="ngModel" required>
  <input type="text" id="type" placeholder="Type" [(ngModel)]="type" #Type="ngModel" required>
  <select id="categorie" [(ngModel)]="categorie" #Categorie="ngModel" required>
    <option [attr.value]="categorie" disabled>Categorie</option>
    <option *ngFor="let n of categorieen" [attr.value]="n">{{n}}</option>
  </select>
  <textarea rows="4" id="beschrijving" placeholder="Beschrijving" [(ngModel)]="beschrijving" #Beschrijving="ngModel" required>
  </textarea>
  <div><div [hidden]="!AankoopprijsError" class="errorX"></div><input type="number" id="aankoopprijs" placeholder="Aankoopprijs(p/s)" [(ngModel)]="aankoopprijs" #Aankoopprijs="ngModel" required></div>
  <div [hidden]="!AantalError1 && !AantalError2" class="errorX"></div><input type="number" id="aantal" placeholder="Aantal" [(ngModel)]="aantal" #Aantal="ngModel" required>
  <button [hidden]="Merknaam.errors || Type.errors || Categorie.errors|| Beschrijving.errors || Aankoopprijs.errors || Aantal.errors"
    (click)="openModal('custom-modal-5')" class="goed" type="submit">Toevoegen</button>
  <button title="Vul alle invoervelden in!" [hidden]="!Merknaam.errors && !Type.errors && !Categorie.errors && !Beschrijving.errors && !Aankoopprijs.errors && !Aantal.errors"
    class="fout">Toevoegen</button>
</div>


<modal id="custom-modal-5">
  <div class="modal">
    <div class="modal-body">
      <h1>Alles goed ingevoerd?</h1>
      <br>
      <td>
        <h5>Merknaam:
          <u id="merknaamout"></u>
        </h5>
      </td>
      <br>
      <td>
        <h5>Type:
          <u id="typeout"></u>
        </h5>
      </td>
      <br>
      <td>
        <h5>Categorie:
          <u id="categorieout"></u>
        </h5>
      </td>
      <br>
      <td>
        <h5>Beschijving:
          <u id="beschrijvingout"></u>
        </h5>
      </td>
      <br>
      <td>
        <h5>Aankoopprijs:
          <u id="aankoopprijsout"></u>
        </h5>
      </td>
      <br>
      <td>
        <h5>Aantal:
          <u id="aantalout"></u>
        </h5>
      </td>
      <br>
      <button class="goed" (click)="toevoegen()" (click)="closeModal('custom-modal-5');">Bevestigen </button>
      <button class="closebtn" (click)="closeModal('custom-modal-5');">Annuleren</button>
    </div>
  </div>
  <div class="modal-background"></div>
</modal>