<form class="mainForm">
  <div class="form-group left">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Product</th>
            <th class="selectHardware">Selecteren</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of hardwareList" attr.hardwareID="{{item.id}}">
            <td scope="row">{{item.name}}</td>
            <td class="selectHardware">
              <button (click)="selectHardware(item.id)" class="btn btn-secondairy">Selecteer</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="right">
      <div class="form-group">
        <label for="StudentName">Student name</label>
        <input 
          type="text" 
          class="form-control" 
          id="StudentName"
          name="StudentName"
          placeholder="John Doe"
          [(ngModel)]="studentnameModel"
          #studentname="ngModel"
          required
        >
      </div>
      <div class="form-group">
          <label for="StudentNumber">Student number</label>
          <input 
            type="number" 
            class="form-control" 
            id="StudentNumber"
            name="StudentNumber"
            placeholder="123456"
            [(ngModel)]="studentnumberModel.name"
            #studentnumber="ngModel"
            required
          >
      </div>

      <div *ngIf="(studentname.valid && studentnumber.valid && hasSomethingSelected());else disabledButton">
          <button data-toggle="modal" data-target="#myModal" type="submit" class="btn btn-primary">Submit</button>
      </div>
      <ng-template #disabledButton>
          <button type="submit" class="btn btn-primary" disabled>Submit</button>
          Nog niet alles is ingevuld!
      </ng-template>

    </div>

  
</form>

<!-- modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Opslaan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Hardware ID</th>
              <th>Product</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of hardwareList">
              <tr *ngIf="item.selected" attr.hardwareID="{{item.id}}">
                <th scope="row" class="hardwareID">{{item.id}}</th>
                <td>{{item.name}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
		    <hr>
        <p>
          Student: {{studentnameModel}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="saveStatus()" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<br />

<button (click)="reset()">Reset available items</button>